body {
  background-color: white;
}

ul {
  list-style-type: none;
  margin-right: 0;
  float: right;
}
li {
  display: inline-block;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
.signin-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 20px 8px 20px;
}
.signin-button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}
.header {
  float: right;
  width: 100%;
}

.main-area {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 1px solid red;
}

.logo-area {
  margin-top: 130px;
}
